body {
  background:
    radial-gradient(
      circle at 20% 30%,
      rgba(173, 216, 230, 0.4),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 60%,
      rgba(135, 206, 235, 0.4),
      transparent 40%
    ),
    linear-gradient(to bottom, #f8fbff, #e6f2ff);
}
.profile {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  margin: 120px 60px;
  margin-left: 0;
}
.profile img {
  width: 320px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.info h1 {
  margin: 0 0 10px 0;
}
.info p {
  margin: 6px 0;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  gap: 20px;
  top: 0px;
  right: 20px;
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgb(230, 226, 226);
  border-radius: 10px;
  background-color: rgb(219, 209, 209);
  background-image: linear-gradient(
    to top left rgba(33, 32, 32, 0.2),
    rgba(48, 46, 46, 0.2) 30%,
    transparent
  );
  box-shadow:
    inset 2px 2px 3px rgba(19, 13, 13, 0.6),
    inset -2px -2px 3px rgba(54, 47, 47, 0.6);
}
nav a {
  text-decoration: none;
  margin-top: 12px;
  display: inline;
  padding: 14px 22px;
  background-color: rgb(119, 108, 108);
  color: rgb(243, 243, 243);
  text-decoration: none;
  margin-bottom: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}
.three-column {
  display: flex;
  max-width: 1100px;
  margin: 60px auto;
}
.col {
  flex: 1;
  padding: 0 24px;
}

.divider {
  width: 1px;
  background-color: #ccc;
}
.personal-logo {
  position: fixed;
  bottom: 20px;
  right: 24px;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.45);
  letter-spacing: 0.12rem;
  font-family: system-ui, sans-serif;
  user-select: none;
  pointer-events: none;
}
