body {
  background-color: rgb(174, 225, 225);
}

nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  gap: 20px;
  top: 10px;
  right: 20px;
  font-size: 1rem;
}
nav a {
  text-decoration: none;
  margin-top: 20px;
  display: block;
  padding: 14px 22px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-bottom: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}
